<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="NequeoBase" version="2016.26.1.1" targetFramework="net45" />
  <package id="NequeoCollections" version="2016.26.1.1" targetFramework="net45" />
  <package id="NequeoComponentModel" version="2016.26.1.1" targetFramework="net45" />
  <package id="NequeoConversion" version="2016.26.1.1" targetFramework="net45" />
  <package id="NequeoCryptography" version="2016.26.1.1" targetFramework="net45" />
  <package id="NequeoCryptographyKey" version="2016.26.1.1" targetFramework="net45" />
  <package id="NequeoData" version="2016.26.1.1" targetFramework="net45" />
  <package id="NequeoDataLinq" version="2016.26.1.1" targetFramework="net45" />
  <package id="NequeoExceptions" version="2016.26.1.1" targetFramework="net45" />
  <package id="NequeoHandler" version="2016.26.1.1" targetFramework="net45" />
  <package id="NequeoIOCompress" version="2016.26.1.2" targetFramework="net45" />
  <package id="NequeoIOStream" version="2016.26.1.1" targetFramework="net45" />
  <package id="NequeoLinq" version="2016.26.1.1" targetFramework="net45" />
  <package id="NequeoModel" version="2016.26.1.1" targetFramework="net45" />
  <package id="NequeoNet" version="2016.26.1.1" targetFramework="net45" />
  <package id="NequeoNetServiceModel" version="2016.26.1.1" targetFramework="net45" />
  <package id="NequeoNetTcp" version="2016.26.1.1" targetFramework="net45" />
  <package id="NequeoPrimitive" version="2016.26.1.1" targetFramework="net45" />
  <package id="NequeoReflection" version="2016.26.1.1" targetFramework="net45" />
  <package id="NequeoResource" version="2016.26.1.1" targetFramework="net45" />
  <package id="NequeoSecurity" version="2016.26.1.1" targetFramework="net45" />
  <package id="NequeoSerialisation" version="2016.26.1.1" targetFramework="net45" />
  <package id="NequeoThreading" version="2016.26.1.1" targetFramework="net45" />
  <package id="NequeoXml" version="2016.26.1.1" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="8.0.1" targetFramework="net45" />
  <package id="Simple.Owin" version="0.10.0" targetFramework="net45" />
  <package id="Simple.Owin.AppPipeline" version="0.10.0" targetFramework="net45" />
  <package id="Simple.Owin.Hosting" version="0.10.0" targetFramework="net45" />
  <package id="Simple.Owin.Servers.TcpServer" version="0.10.0" targetFramework="net45" />
</packages>